gitignore/
node_modules/

project/*/builds/
project/*/internals.json
project/*/members.json

public/*.js
public/**/*.js

data/**/*.js
!data/index.js

editors/**/*.js
!editors/ftext/index.js

runtime/**/*.js
!runtime/index.js

settingsEditors/**/*.js
!settingsEditors/index.js
