gitignore/
node_modules/*
!node_modules/operational-transform

project/*/builds/
project/*/internals.json
project/*/members.json



data/*.js
!data/index.js

editors/**/*.js

runtime/*.js
!runtime/index.js

settingsEditors/*.js
!settingsEditors/index.js

textEditorWidget/*.js
