div
  h2 Global editor Settings

  table
    tr
      th Theme
      td
        select(id="theme")
    tr
      th Indent Unit
      td 
        input(id="indentUnit",type="number",min=1,max=8,value=2)
    tr
      th Key map
      td 
        select(id="keyMap")
          option(value="sublime") sublime
          option(value="vim") vim
          option(value="emacs") emacs
    tr
      th Auto close brackets
      td 
        input(id="autoCloseBrackets",type="checkbox")
    tr
      th Highlight active line
      td 
        input(id="styleActiveLine",type="checkbox")
    tr
      th Highlight trailing spaces
      td 
        input(id="showTrailingSpace",type="checkbox")
    tr
      th Highlight matching tag
      td 
        input(id="matchTags",type="checkbox")
    tr
      th Highlight matching words
      td 
        input(id="highlightSelectionMatches",type="checkbox")
