table
  tr
    th Theme
    td
      select(id="theme-select") 
  tr
    th Tab Size
    td 
      input(type="number",min=1,max=8)
  tr
    th Key map
    td 
      select
        option(value="sublime") sublime
        option(value="vim") vim
        option(value="emacs") emacs
